<div class="container-fluid" style="margin-top: 1.5rem;">
    <h1 class="text-primary">Carrito</h1>
</div>

<div class="container-fluid" style="margin-top: 1.5rem; margin-bottom: 4rem;">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div id="titulo-carrito" class="card-header">
                  Listado
                </div>
                <div class="card-body" style="max-height: 200px !important; overflow-y: auto !important;">
                    <div id="carrito"></div>
                </div>
              </div>
        </div>
        <div class="col-sm-6">
            
        </div>
    </div>
</div>