<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {titulo: 'Inicio'}) %>
<style>
    .form-group{
        margin-bottom: 1rem;
    }
</style>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <div class="container-fluid" style="margin-top: 1.5rem; vertical-align: middle;">
        <h1 class="text-primary" style="display: inline; vertical-align: middle;">Bienvenido</h1>
        &nbsp;&nbsp;&nbsp;
        <a href="/logout" class="btn btn-primary" style="vertical-align:middle">Cerrar sesión</a>
    </div>
</body>
</html>